<!doctype html>
<html>
<head>
<title> </title>
<meta charset = "utf-8" />
<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style.css')  }} ">
</head>
<body style="background-color: #004358;">
<div>
	<form method="post" action="/delete_all">
		<button class="buttonround2 button2"><font size ="6">-</font></button>
	</form>
	<form method ="post" action = "/add_post">
		<button class="buttonround1 button2"><font size="6">+</font></button>
		<input type="text" id="post" name="post"></input>
	</form>
<h1 class="posit"> TO-DO LIST:</h1>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% for post in myPosts | sort(reverse=True, attribute = 'id') %}
	<li class="animated fadeIn orangess "><center><font size="15">{{ post.post }}</font></center>
		<form method="post" action="{{ url_for('delete_post', post_id = post.id) }}">
			<button class="buttonround button2 text-right">X</button>
		</form>
	</li><br>
{% endfor %}
</div>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="show_mess animated fadeInRight">
				{{ message }}
			</div>
		{% endfor %}
	{% endif  %}
{% endwith %}
</body>
</html> 